@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800&display=swap");

:root {
  --gradient: rgb(0, 120, 189);
  --gradient-background: linear-gradient(
    90deg,
    rgba(0, 120, 189, 1) 0%,
    rgba(225, 4, 220, 1) 33%,
    rgba(240, 181, 27, 1) 66%,
    rgba(254, 98, 39, 1) 100%
  );
  --gradient-background--mid: linear-gradient(
    90deg,
    rgba(0, 120, 189, 0.694) 0%,
    rgba(225, 4, 221, 0.659) 33%,
    rgba(240, 180, 27, 0.645) 66%,
    rgba(254, 96, 39, 0.592) 100%
  );

  --min-gray: rgb(58, 58, 58);
  --min-mid-gray: rgb(86, 86, 86);

  --adm: rgba(0, 120, 189, 1);
  --ds: rgba(225, 4, 220, 1);
  --meca: rgba(240, 181, 27, 1);
  --edf: rgba(254, 98, 39, 1);

  --font: "Montserrat", "sans-serif";

  --shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.disabled {
  pointer-events: none;
  opacity: 0.6;
}

body {
  font-family: var(--font);
  scroll-behavior: smooth;
}

img#img-navbar {
  width: 4rem;
}

.nav {
  position: sticky;
  top: 0px;
  z-index: 4;
  box-shadow: var(--shadow);
  border-radius: 0 0 0.9rem 0.9rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

nav span {
  display: flex;
  align-items: center;
  gap: 1rem;
}

nav a {
	cursor: pointer;
}

nav h1 {
  font-size: 1.2rem;
  font-weight: 500;
}

.nav-progress-container {
	position: relative;
	top: 0.6rem;
  width: 100%;
  height: 0.75rem;
  background: var(--gradient-background);
  display: flex;
  flex-direction: row-reverse;
}

.nav-progress__value {
	/* position: absolute;
    right: 50vw; */
	position: relative;
	top: 0.6rem;
    width: fit-content;
	font-size: 0.7rem;
	padding: 0;
	margin: 0;
	font-weight: bold;
}

.nav-progress-bar {
  height: 100%;
  background: #efefef;
  transition: 0.5s;
}

section.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-block: 2rem;
  gap: 1rem;
}

.hero p {
  color: gray;
  font-weight: 300;
  width: 100%;
  font-size: 1.25rem;
  text-align: center;
  max-width: 30rem;
}

.hero img {
  width: 21rem;
}

div.question {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding-inline: 1rem;
  padding-block: 0.2rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
  max-width: 29rem;
  margin-inline: auto;
  overflow: hidden;
}

div.question__index {
  width: 108%;
  right: 1rem;
  bottom: 0.3rem;
  position: relative;
  overflow: hidden;
  background: var(--gradient-background);
  padding-inline: 0.6rem;
  padding-block: 0.3rem;
  color: white;
  margin: auto;
  border-radius: 0.5rem 0.5rem 0 0;
  font-size: 1.2rem;
}

div.question__index p {
  margin: 0;
}

h1.question__question {
  text-align: center;
  font-size: 1.7rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

mark {
	background: var(--gradient-background--mid);
}

div.question__radio-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-inline: 2rem;
}

input[type="radio"] {
  margin: 0;
  accent-color: rgb(59, 59, 59);
}

input[type="radio"].radio-positive {
  accent-color: rgb(248, 30, 183);
}

.question__radio-wrapper input:nth-child(n + 3) {
  accent-color: black;
}

.radio-big {
  width: 2rem;
  height: 2rem;
}

.radio-max-mid {
  width: 1.5rem;
  height: 1.5rem;
  accent-color: gray;
}

.radio-min-mid {
  width: 1.3rem;
  height: 1.3rem;
}

input[type="radio"].radio-mid {
  width: 1.2rem;
  height: 1.2rem;
}

div.radio-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div#div-submit{
  width: 100%;
  display: flex;
  justify-content: center;
}

.input-radio-wrapper {
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.399);
  padding: 4px;
}

.input-radio-wrapper--max {
  background: var(--gradient-background);
}

.input-radio-wrapper--max-mid {
  background: var(--gradient-background--mid);
}

.input-radio-wrapper--min {
  background: var(--min-gray);
}

.input-radio-wrapper--min-mid {
  background: var(--min-mid-gray);
}

p.radio-wrapper-desc {
  font-weight: 700;
  font-size: 1rem;
  color: gray;
}

p.radio-wrapper-desc--max {
  background: var(--gradient-background);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p.radio-wrapper-desc--min {
  color: black;
}

button.submit-button {
  margin: 1rem;
  background: var(--gradient-background);
  border: none;
  transition: 0.5s;
  padding-block: 2px;
  padding-inline: 2px;
}

button.submit-button,
button span {
  width: 100%;
}

button span {
  padding-inline: 6px;
  padding-block: 0.2rem;
  background-color: white;
  border-radius: 6px;
  display: block;
}

span span {
  background: var(--gradient-background);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: block;
}

img#img-footer {
  width: 22rem;
  margin: auto;
  margin-bottom: 4rem;
  opacity: 0.6;
}

.loader {
  border: 7px solid #f3f3f3;

  border-top: 7px solid rgb(169, 169, 169);

  margin: auto;

  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
